fastapi
uvicorn[standard]
python-dotenv
openai

chromadb
langchain
langchain-core
langchain-text-splitters

sentence-transformers
transformers
torch

pymupdf
numpy
scipy
scikit-learn

sqlalchemy
psycopg2-binary

google-auth
google-api-python-client
google-genai

requests
httpx
pydantic
pydantic-settings

google-cloud-storage