@import "tailwindcss";

/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background: #f8fafc;
  color: #1e293b;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  transition: 0.25s;
}

input,
select,
textarea {
  font-family: inherit;
  outline: none;
  border: 1px solid #dbe4ef;
  transition: 0.25s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.12);
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eef2ff;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}
